body {
	padding: 0;
	margin: 0;
	font-family: Arial, Tahoma, sans-serif;
}

body.loading {
	overflow: hidden;
}

.preloader {
	width: 100vw;
	background: white;
	transition: 1s;
}
.preloader div{
	margin: 30vh auto 0 auto;
	width: 50%;
	height: 20px;
}

.preloader div img{
	width: 100%;
	opacity: 0;
	transition: 1s;
}

/*+++++++++++		MAIN		+++++++++++*/
.container {
	width: 100%;
	height: 100%;
}

.main {
	width: 100%;
	height: 100vh;
	background: url("../rsc/img/farmbackground.jpg") no-repeat center center;
	background-size: cover;
	filter: blur(2px);
}

.tablaGirada {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	height: 230px;
	background: url("../rsc/img/tabla-girada.png") no-repeat bottom center;
}

.tablitas {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 300px;
	height: 600px;

}

#vsMachine {
	position: absolute;
	width: 300px;
	height: 300px;
	top: 0%;
	background: url("../rsc/img/tabla.png") no-repeat center center;
	background-size: cover;
	filter: drop-shadow(0px 10px 3px rgba(0, 0, 0, .5));
}

#vsMachine span, #vsUsers span {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 80%;
	height: 140px;
	filter: drop-shadow(-1px 1px 3px rgba(0, 0, 0, .5));
}

#vsMachine span .jugador, #vsUsers span .jugador {
	float: left;
	margin-top: 30px;
	width: 80px;
	filter: drop-shadow(-1px 1px 3px rgba(0, 0, 0, .5));
}

#vsMachine span .vs {
	position: absolute;
	top: 35px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
}

#vsMachine span .maquina, #vsUsers span .maquina {
	float: right;
	margin-top: 30px;
	width: 80px;
	filter: drop-shadow(-1px 1px 3px rgba(0, 0, 0, .1));
}

#vsUsers {
	position: absolute;
	width: 250px;
	height: 230px;
	top: 42%;
	margin-left: 28px;
	background: url("../rsc/img/tabla2.png") no-repeat center center;
	background-size: cover;
	opacity: 0;
	filter: drop-shadow(0px 10px 3px rgba(0, 0, 0, .5));
}

.proximamente {
	position: absolute;
	width: 50%;
	margin: 30px 0 0 -50px;
	z-index: 999999;
}

/*+++++++++++		PARTIDA		+++++++++++*/
.baraja-demo {
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
}

ul#cartasMesa{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 0;
	width: 80%;
	height: 50vh;
	list-style-type: none;
}

ul#cartasMesa0, ul#cartasMesa1, ul#cartasMesa2, ul#cartasMesa3 {
	float: left;
	padding: 0;
	width: 21%;
	margin: 0 2%;
	height: 100%;
	overflow: hidden;
	border-radius: 3px;
	list-style-type: none;
}

ul#cartasMesa0 li, ul#cartasMesa1 li, ul#cartasMesa2 li, ul#cartasMesa3 li {
	float: left;
	margin-top: -130%;
	width: 68px;
	height: 117px;
	color: #666;
	font-size: 14px;
	border: 1px solid #ddd;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, .5);
	border-radius: 3px;
}

	ul#cartasMesa0 li:first-child, ul#cartasMesa1 li:first-child, ul#cartasMesa2 li:first-child, ul#cartasMesa3 li:first-child {
		margin-top: 0;
	}

/*
ul#cartasMesa1, ul#cartasMesa2, ul#cartasMesa3, ul#cartasMesa4,  {
	float: left;
	width: 70px;
	height: 115px;
	color: #666;
	font-size: 14px;
	padding: 2px 3px 2px;
	margin: 20px 3px 5px;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
}
*/
ul#cartasMesa li img{
	width: 100%;
}
#tiempo {
	float: left;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9999;
}





